# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# uv local cache and state
.uv/


# Distribution / packaging
build/
devel/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/

# Environment and secrets
.env
.env.local
*.pem

# Operating System & IDEs
.DS_Store
.vscode/
.idea/

# Sonar files
.sonar/
coverage.xml
sonar_issues.json

# Logs
logs/
